@import '../../general/generalVariables.scss';

h1 {
    margin: 0 !important;

    line-height: 1.2 !important;
}

button {
    border-color: $theme-color;

    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    p {
        -webkit-transition: color 0.5s ease-in-out;
        -moz-transition: color 0.5s ease-in-out;
        -o-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;

        @media only screen and (min-width: $medium) {
            font-size: 22px !important;
        }
    }
}

button:hover {
    color: white;
    background-color: $theme-color;
}

.text-wrapper {
    position: relative; 
    left: 0px;

    justify-content: center;
    align-items: center;

    text-align: start; 
    h1 {
        font-size: 30px;
    }
    
    @media only screen and (min-width: $medium) {
        left: 5%;

        align-items: flex-start;

        h1 {
        font-size: 50px;
        }
    }

    @media only screen and (min-width: $large) {
        left: 10%;

        h1 {
            font-size: 70px;
        }
    }

}

.theme-color {
    color: $theme-color
}