@import '../../general/generalVariables.scss';

h1 {
    margin: 0 !important;

    line-height: 1.2 !important;
}
button.whiteBackground {
    border-color: $theme-color;

    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;

    p {
        font-size: $paragraph-small;

        -webkit-transition: color 0.5s ease-in-out;
        -moz-transition: color 0.5s ease-in-out;
        -o-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;

        @media only screen and (min-width: $medium) {
            font-size: $paragraph !important;
        }
    }
    
    &:hover {
        color: white;
        background-color: $theme-color;
    }
}

#line-1 {
    display: flex;
    flex-direction: column;
    align-items: center;


    @media only screen and (min-width: $medium) {
        flex-direction: row;
    }
}

.text-wrapper {
    margin-left: 0px;

    justify-content: center;
    align-items: center;

    text-align: start; 
    h1 {
        font-size: $section-header-small;
    }
    
    @media only screen and (min-width: $medium) {
        margin-left: 5%;

        align-items: flex-start;

        h1 {
        font-size: $section-header;
        }
    }

    @media only screen and (min-width: $large) {
        margin-left: 10%;

        h1 {
            font-size: 60px;
        }
    }

}

.theme-color {
    color: $theme-color
}

.intro {
    opacity: 0;
    text-align: center;
}