h1 {
    font-size: 70px !important;
    line-height: 0.7 !important;
    margin-top: 0 !important;
}

button {
    font-size: 22px !important;
}

.gradient-text {
    background: rgb(40,176,177);
    background-image: linear-gradient(90deg, rgba(0,146,147,1) 0%, rgba(43,172,168,1) 43%, rgba(0,245,185,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.gradient-background {
    background: rgb(40,176,177);
    background-image: linear-gradient(90deg, rgba(0,146,147,1) 0%, rgba(43,172,168,1) 43%, rgba(0,245,185,1) 100%);
    background-size: 100%;
    color: white;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-text-fill-color: white; 
    -moz-text-fill-color: white;
}

.hover-transition {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}