@import '../../general/generalVariables.scss';

#project-content {
    display: flex;
    flex-direction: column;

    a {
        font-size: $paragraph-small;
    }

    @media only screen and (min-width: $large) {
        flex-direction: row;
        
        a {
            font-size: $paragraph;
        }
    }
}

a.whiteBackground {
    border-color: $theme-color;

    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;

    text-decoration: none;
    
    p {
        font-size: $paragraph-small;


        -webkit-transition: color 0.5s ease-in-out;
        -moz-transition: color 0.5s ease-in-out;
        -o-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;

        @media only screen and (min-width: $medium) {
            font-size: $paragraph !important;
        }
    }
    
    &:hover {
        color: white;
        background-color: $theme-color;
    }
}

#description {
    font-size: $paragraph-small;
    max-width: 600px;

    @media only screen and (min-width: $medium) {
        font-size: $paragraph;
    }
}

.whiteBackground {
    color: $theme-color;
    background-color: white;
}

#source-button {
    background-color: white;
    border-width: 0;

    text-decoration: none;

    color: $theme-color;
    
    padding: 0.7em;
}

#project-img {
    height: auto;

    @media only screen and (min-width: $large) {
        max-width: 50vw;
    }
}