@import '../../general/generalVariables.scss';

#contact-wrapper {
    background-color: rgba(43,172,168,1);
    background-image: linear-gradient(90deg, rgba(0,146,147,1) 0%, rgba(43,172,168,1) 52%, rgba(0,209,200,1) 100%);

    padding-top: 2em;

    text-align: center;

    h1 {
        font-size: $section-header-small;
    }

    #contact-form {
        display: flex;
        flex-direction: column;

        text-align: start;

        div {
            padding: 0.5em;
        }
    }

    @media only screen and (min-width: $medium) {
        -webkit-clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);

        padding-top: 7em;

        h1 {
            font-size: $section-header;
        }

        #contact-form {
            flex-direction: row;
            justify-content: center;

            textarea {
                width: 450px;
                height: 100px;
            }
        }
    }
}

#submit-button {
    color: $theme-color;
    background-color: white;
}

#loading-button {
    color: $theme-color;
    background-color: white;
    margin: 0.4em;
    width: 150px;
    height: 40px;
    #spin-load {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 16px;
        height: 16px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#alert-message {
    text-transform: none;
    max-width: 100%;
}

