@import '../../general/generalVariables.scss';

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    overflow: hidden;

    z-index: 2;
}

.nav-button {
    padding: 1em;

    opacity: 0;

    font-size: 12px;
    text-align: center;

    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;

   

    @media only screen and (min-width: $medium) {
        font-size: 22px;
    }

    &:hover {
        color: $theme-color;
    }
}