@import './general/generalVariables.scss';

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;

    background-color: white;

    overflow: hidden;

    z-index: 2;
}

.nav-button {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;

    opacity: 0;

    font-size: 12px;
    text-align: center;

    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;

   

    @media only screen and (min-width: $medium) {
        font-size: $paragraph;
    }

    &:hover {
        color: $theme-color;
    }
}